.view-attendance-container {
  padding: 40px;
  background-color: #f7f9fc;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.attendance-table th,
.attendance-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.attendance-table th {
  background-color: #333;
  color: white;
}
