.view-organization-container {
    padding: 30px;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px; /* Set a fixed width for the search bar */
  }
  
  .search-input {
    width: 100%;
    padding: 8px 35px 8px 10px; /* Extra space on the right for the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #888;
    cursor: pointer;
  }
  
  .organization-list {
    margin-top: 20px;
  }
  
  .organization-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .organization-list th,
  .organization-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .icon-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .icon-button:hover {
    color: #0056b3;
  }
  
  .update-form {
    margin-top: 20px;
  }
  
  .update-form select,
  .update-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .update-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .update-form button:hover {
    background-color: #0056b3
  }  